footer {
  width: 100%;
  bottom: 40px;
  display: flex;
  position: absolute;

  font-family: LatoItalic;
  font-size: 15px;

  .footer-info {
    float: left;
    padding-left: 40px;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-logo {
    float: right;
    padding-right: 40px;
    margin: 10px 0;
    display: flex;

    .footer-logo1 {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/facebook.svg);
    }
    .spacer {
      min-width: 40px;
    }
    .footer-logo2 {
      width: 20px;
      height: 20px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/instagram.svg);
    }
  }

  p {
    align-items: center;
    margin: 16px 10px;
  }
  a {
    text-decoration: none;
    align-items: center;
    margin: 0 16px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 10px;

    .footer-info {
      padding-left: 20px;
    }

    .footer-nav {
    }

    .footer-logo {
      .spacer {
        min-width: 30px;
      }
    }
    p {
      margin: 16px 10px;
    }
    a {
      margin: 0 10px;
    }
  }
}
