.editrecipe {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  margin: 160px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: CBold;
    font-size: 25px;
  }

  h2 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: Lato;
    font-size: 20px;
    margin-top: 100px;
  }

  .newrecipe {
    min-height: 300px;
    width: 100%;

    padding-bottom: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      height: 30px;
      width: 80%;
      border: none;
      background: transparent;
      border-bottom-width: 2px;
      border-bottom: black;
      margin-top: 50px;
    }

    .line {
      background-color: #000;
      height: 3px;
      width: 80%;
    }

    .form1 {
      width: 80%;
      position: relative;

      .line {
        background-color: #000;
        height: 3px;
        width: 100%;
      }
    }
    .form1 input {
      height: 30px;
      width: 80%;
      //margin-bottom: 20px;
    }

    .form2 {
      width: 80%;
      position: relative;

      .line {
        background-color: #000;
        height: 3px;
        width: 100%;
      }
    }
    .form2 input {
      height: 30px;
      width: 80%;
      //margin-bottom: 20px;
    }

    .btn {
      background-color: $site-pink;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-family: GillLight;
      color: #fff;

      cursor: pointer;

      position: absolute; /* absolute reflects parent while fixed reflects the whole browser */
      bottom: 0;
      right: 0;
    }

    .confirm-btn {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;
      padding-top: 8px;
      width: 420px;
      height: 50px;
      background-color: $site-pink;
      box-shadow: 0px 5px 5px #444;
      border-radius: 50px;

      font-family: CRegular;
      font-size: 25px;
      text-decoration: none;
    }
  }
}
