* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.app {
  min-height: 100vh;
  position: relative; }

@font-face {
  font-family: CRegular;
  src: url(../fonts/Caveat-Regular.ttf); }

@font-face {
  font-family: CBold;
  src: url(../fonts/Caveat-Bold.ttf); }

@font-face {
  font-family: GillLight;
  src: url(../fonts/GillSans-Light.ttf); }

@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttf); }

@font-face {
  font-family: GillItalic;
  src: url(../fonts/GillSans-Italic.ttf); }

@font-face {
  font-family: LatoBlack;
  src: url(../fonts/Lato-Black.ttf); }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf); }

@font-face {
  font-family: LatoItalic;
  src: url(../fonts/Lato-Italic.ttf); }

.link-nav {
  display: flex;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 710px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: CRegular;
  font-size: 25px; }
  .link-nav a {
    margin-left: 50px; }
  .link-nav .navlogin {
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 160px;
    height: 50px;
    background-color: #ffd972;
    box-shadow: 0px 5px 5px #444;
    border-radius: 50px; }
  .link-nav .navsignout {
    display: none;
    text-align: center;
    padding-top: 8px;
    width: 160px;
    height: 50px;
    background-color: #ffd972;
    box-shadow: 0px 5px 5px #444;
    border-radius: 50px; }

nav {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px; }
  nav .fas {
    text-decoration: none; }

.link-nav a {
  text-decoration: none; }
  .link-nav a .line {
    background-color: #000;
    width: 100%;
    height: 2px; }

#menu .navlogin {
  display: block; }

#menu .navsignout {
  display: none; }

.recipe_option {
  display: none; }

.banner {
  background-color: #fff;
  width: 100%;
  height: 120px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1; }

@media only screen and (max-width: 768px) {
  .link-nav {
    display: none; }
  nav {
    display: block;
    right: 50px; } }

.logo {
  z-index: 2;
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 50px;
  font-family: CRegular;
  font-size: 26px; }
  .logo p {
    top: 10px;
    position: absolute;
    z-index: 99; }
  .logo .circle1 {
    width: 32px;
    height: 32px;
    background-color: #c7eae4;
    border-radius: 32px;
    position: absolute;
    z-index: 0; }
  .logo .circle2 {
    width: 30px;
    height: 30px;
    background-color: #ffd972;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 16px; }
  .logo .circle3 {
    width: 54px;
    height: 54px;
    background-color: #a7e8bd;
    border-radius: 54px;
    position: absolute;
    z-index: 2;
    margin-left: 46px;
    margin-top: 0px; }
  .logo .circle4 {
    width: 24px;
    height: 24px;
    background-color: #fcbcb8;
    border-radius: 24px;
    position: absolute;
    z-index: 3;
    margin-left: 110px;
    margin-top: 20px; }

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: tomato; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 99;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  z-index: 1;
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(242, 92, 84, 0.6);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu a {
  padding: 10px 0;
  font-size: 22px;
  font-family: GillItalic; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

.home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .home .circle-holder {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px; }
    .home .circle-holder .small-circle {
      width: 170px;
      height: 170px;
      background-color: #fcbcb8;
      border-radius: 170px;
      position: absolute;
      z-index: 0;
      margin-left: 360px;
      margin-top: -270px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .home .circle-holder .small-circle p {
        text-align: center;
        width: 105px;
        font-size: 11px;
        font-family: LatoItalic; }
    .home .circle-holder .big-circle {
      width: 360px;
      height: 360px;
      background-color: #ffd972;
      border-radius: 360px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .home .circle-holder .big-circle h1 {
        font-size: 30px;
        font-family: CBold; }
      .home .circle-holder .big-circle p {
        width: 160px;
        font-size: 16px;
        font-family: Lato; }

@media only screen and (max-width: 768px) {
  .home .circle-holder .small-circle {
    margin-left: 240px;
    margin-top: -380px; } }

.loginpage {
  height: 100vh;
  width: 100%;
  background-color: #ffd972;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loginpage h1 {
    font-family: LatoBlack;
    font-size: 30px; }
  .loginpage h4 {
    font-family: LatoItalic;
    font-size: 12px; }
  .loginpage input {
    border: none;
    background: transparent;
    border-bottom-width: 2px;
    border-bottom: black;
    margin-top: 50px; }
  .loginpage .line {
    background-color: #000;
    height: 3px;
    width: 100%; }
  .loginpage section {
    width: 740px;
    min-height: 500px;
    display: flex;
    justify-content: space-between; }
    .loginpage section .login-here {
      margin-top: 160px;
      width: 210px;
      height: 420px; }
    .loginpage section .sign-up-here {
      margin-top: 60px;
      width: 250px;
      height: 500px; }
    .loginpage section .login {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;
      padding-top: 8px;
      width: 100%;
      height: 50px;
      background-color: #ffd972;
      box-shadow: 0px 5px 5px #444;
      border-radius: 50px;
      font-family: CRegular;
      font-size: 25px; }
    .loginpage section a {
      text-decoration: none; }

@media only screen and (max-width: 768px) {
  .loginpage {
    height: 1200px; }
    .loginpage section {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .loginpage section .login-here {
        margin-top: 0; }
      .loginpage section .sign-up-here {
        margin-top: 0; } }

.browse {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .browse h1 {
    padding-top: 160px;
    align-self: flex-start;
    padding-left: 10%;
    font-family: CBold;
    font-size: 25px; }
  .browse #recipe {
    display: flex;
    width: 80%;
    min-height: 700px;
    margin: 0 auto 160px auto;
    flex-flow: row wrap;
    justify-content: space-around; }
    .browse #recipe .recipeblock {
      display: flex;
      padding-top: 50px; }
    .browse #recipe .image {
      height: 260px;
      width: 300px;
      border-radius: 30px;
      background-color: brown; }
    .browse #recipe .view_button {
      width: 125px;
      height: 40px;
      background-color: #ffd972;
      position: absolute;
      margin-top: 100px;
      margin-left: 90px;
      text-align: center;
      padding-top: 8px;
      border-radius: 20px;
      font-size: 20px;
      font-family: CRegular;
      text-decoration: none; }
    .browse #recipe .content {
      height: 260px;
      width: 220px;
      border-radius: 30px;
      background-color: #fff;
      padding: 40px; }
      .browse #recipe .content h3 {
        font-size: 15px;
        font-family: LatoBlack; }
      .browse #recipe .content p {
        font-size: 9px;
        font-family: Lato; }
      .browse #recipe .content h4 {
        font-size: 10px;
        font-family: Lato; }
      .browse #recipe .content .line {
        height: 2px;
        width: 130px;
        background-color: #000;
        margin-top: -16px;
        margin-bottom: 10px; }
      .browse #recipe .content .content-ex {
        display: flex;
        justify-content: center; }
      .browse #recipe .content .icon-timer {
        width: 23px;
        height: 23px;
        margin-right: 10px; }
      .browse #recipe .content .icon-serving {
        width: 23px;
        height: 23px;
        margin-right: 10px; }

.createrecipe {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .createrecipe h1 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: CBold;
    font-size: 25px; }
  .createrecipe h2 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: Lato;
    font-size: 20px;
    margin-top: 100px; }
  .createrecipe .newrecipe {
    min-height: 300px;
    width: 100%;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .createrecipe .newrecipe input {
      height: 30px;
      width: 80%;
      border: none;
      background: transparent;
      border-bottom-width: 2px;
      border-bottom: black;
      margin-top: 50px; }
    .createrecipe .newrecipe .line {
      background-color: #000;
      height: 3px;
      width: 80%; }
    .createrecipe .newrecipe .form1 {
      width: 80%;
      position: relative; }
      .createrecipe .newrecipe .form1 .line {
        background-color: #000;
        height: 3px;
        width: 100%; }
    .createrecipe .newrecipe .form1 input {
      height: 30px;
      width: 80%; }
    .createrecipe .newrecipe .form2 {
      width: 80%;
      position: relative; }
      .createrecipe .newrecipe .form2 .line {
        background-color: #000;
        height: 3px;
        width: 100%; }
    .createrecipe .newrecipe .form2 input {
      height: 30px;
      width: 80%; }
    .createrecipe .newrecipe .btn {
      background-color: #efa7a7;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-family: GillLight;
      color: #fff;
      cursor: pointer;
      position: absolute;
      /* absolute reflects parent while fixed reflects the whole browser */
      bottom: 0;
      right: 0; }
    .createrecipe .newrecipe .confirm-btn {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;
      padding-top: 8px;
      width: 420px;
      height: 50px;
      background-color: #ffd972;
      box-shadow: 0px 5px 5px #444;
      border-radius: 50px;
      font-family: CRegular;
      font-size: 25px;
      text-decoration: none; }

.yourrecipe {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .yourrecipe h1 {
    padding-top: 160px;
    align-self: flex-start;
    padding-left: 10%;
    font-family: CBold;
    font-size: 25px; }
  .yourrecipe #recipe {
    display: flex;
    width: 80%;
    min-height: 700px;
    margin: 0 auto 160px auto;
    flex-flow: row wrap;
    justify-content: space-around; }
    .yourrecipe #recipe .recipeblock {
      display: flex;
      padding-top: 100px; }
    .yourrecipe #recipe .image {
      height: 260px;
      width: 300px;
      border-radius: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../public/images/logo.svg); }
    .yourrecipe #recipe .view_button {
      width: 125px;
      height: 40px;
      background-color: #ffd972;
      position: absolute;
      margin-top: 100px;
      margin-left: 90px;
      text-align: center;
      padding-top: 8px;
      border-radius: 20px;
      font-size: 20px;
      font-family: CRegular;
      text-decoration: none; }
    .yourrecipe #recipe .edit_button {
      width: 125px;
      height: 40px;
      background-color: #ffd972;
      position: absolute;
      margin-top: 200px;
      margin-left: 20px;
      text-align: center;
      padding-top: 8px;
      border-radius: 20px;
      font-size: 20px;
      font-family: CRegular;
      text-decoration: none; }
    .yourrecipe #recipe .delete_button {
      width: 125px;
      height: 40px;
      background-color: #ffd972;
      position: absolute;
      margin-top: 200px;
      margin-left: 160px;
      text-align: center;
      padding-top: 8px;
      border-radius: 20px;
      font-size: 20px;
      font-family: CRegular;
      text-decoration: none; }
    .yourrecipe #recipe .content {
      height: 260px;
      width: 220px;
      border-radius: 30px;
      background-color: #fff;
      padding: 40px; }
      .yourrecipe #recipe .content h3 {
        font-size: 15px;
        font-family: LatoBlack; }
      .yourrecipe #recipe .content p {
        font-size: 9px;
        font-family: Lato; }
      .yourrecipe #recipe .content h4 {
        font-size: 10px;
        font-family: Lato; }
      .yourrecipe #recipe .content .line {
        height: 2px;
        width: 130px;
        background-color: #000;
        margin-top: -16px;
        margin-bottom: 10px; }
      .yourrecipe #recipe .content .content-ex {
        display: flex;
        justify-content: center; }
      .yourrecipe #recipe .content .icon-timer {
        width: 23px;
        height: 23px;
        margin-right: 10px; }
      .yourrecipe #recipe .content .icon-serving {
        width: 23px;
        height: 23px;
        margin-right: 10px; }

.editrecipe {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .editrecipe h1 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: CBold;
    font-size: 25px; }
  .editrecipe h2 {
    align-self: flex-start;
    padding-left: 10%;
    font-family: Lato;
    font-size: 20px;
    margin-top: 100px; }
  .editrecipe .newrecipe {
    min-height: 300px;
    width: 100%;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .editrecipe .newrecipe input {
      height: 30px;
      width: 80%;
      border: none;
      background: transparent;
      border-bottom-width: 2px;
      border-bottom: black;
      margin-top: 50px; }
    .editrecipe .newrecipe .line {
      background-color: #000;
      height: 3px;
      width: 80%; }
    .editrecipe .newrecipe .form1 {
      width: 80%;
      position: relative; }
      .editrecipe .newrecipe .form1 .line {
        background-color: #000;
        height: 3px;
        width: 100%; }
    .editrecipe .newrecipe .form1 input {
      height: 30px;
      width: 80%; }
    .editrecipe .newrecipe .form2 {
      width: 80%;
      position: relative; }
      .editrecipe .newrecipe .form2 .line {
        background-color: #000;
        height: 3px;
        width: 100%; }
    .editrecipe .newrecipe .form2 input {
      height: 30px;
      width: 80%; }
    .editrecipe .newrecipe .btn {
      background-color: #efa7a7;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-family: GillLight;
      color: #fff;
      cursor: pointer;
      position: absolute;
      /* absolute reflects parent while fixed reflects the whole browser */
      bottom: 0;
      right: 0; }
    .editrecipe .newrecipe .confirm-btn {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;
      padding-top: 8px;
      width: 420px;
      height: 50px;
      background-color: #efa7a7;
      box-shadow: 0px 5px 5px #444;
      border-radius: 50px;
      font-family: CRegular;
      font-size: 25px;
      text-decoration: none; }

.viewrecipe {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  margin: auto; }
  .viewrecipe #viewwindow {
    display: flex;
    width: 100%;
    margin: 0 auto 160px auto;
    flex-flow: row wrap;
    justify-content: space-around; }
    .viewrecipe #viewwindow h2 {
      position: absolute;
      margin-left: -40px;
      margin-top: 460px;
      transform: rotate(-90deg);
      transform-origin: top left;
      font-size: 25px;
      font-family: LatoBlack; }
    .viewrecipe #viewwindow h3 {
      font-size: 25px;
      font-family: LatoBlack; }
    .viewrecipe #viewwindow p {
      font-size: 20px;
      font-family: CRegular; }
    .viewrecipe #viewwindow .recipeblock {
      width: 100%;
      height: 100vh;
      display: flex;
      padding-top: 160px;
      margin: auto 200px; }
      .viewrecipe #viewwindow .recipeblock .image {
        height: 470px;
        width: 420px;
        background-color: brown;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .viewrecipe #viewwindow .recipeblock .content {
        height: 600px;
        width: 440px;
        padding: 40px; }
    .viewrecipe #viewwindow .listcontent {
      width: 100%;
      min-height: 400px;
      margin-bottom: 160px;
      padding-left: 12%;
      margin-right: 40px; }
      .viewrecipe #viewwindow .listcontent .edit_button {
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffd972;
        text-decoration: none;
        font-size: 20px;
        font-family: CRegular; }

footer {
  width: 100%;
  bottom: 40px;
  display: flex;
  position: absolute;
  font-family: LatoItalic;
  font-size: 15px; }
  footer .footer-info {
    float: left;
    padding-left: 40px; }
  footer .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
  footer .footer-logo {
    float: right;
    padding-right: 40px;
    margin: 10px 0;
    display: flex; }
    footer .footer-logo .footer-logo1 {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/facebook.svg); }
    footer .footer-logo .spacer {
      min-width: 40px; }
    footer .footer-logo .footer-logo2 {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/instagram.svg); }
  footer p {
    align-items: center;
    margin: 16px 10px; }
  footer a {
    text-decoration: none;
    align-items: center;
    margin: 0 16px; }

@media only screen and (max-width: 768px) {
  footer {
    font-size: 10px; }
    footer .footer-info {
      padding-left: 20px; }
    footer .footer-logo .spacer {
      min-width: 30px; }
    footer p {
      margin: 16px 10px; }
    footer a {
      margin: 0 10px; } }
