.logo {
  z-index: 2;
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 50px;
  //background-color: lightgreen;

  font-family: CRegular;
  font-size: 26px;

  p {
    top: 10px;
    position: absolute;
    z-index: 99;
  }

  .circle1 {
    width: 32px;
    height: 32px;
    background-color: #c7eae4;
    border-radius: 32px;
    position: absolute;
    z-index: 0;
  }
  .circle2 {
    width: 30px;
    height: 30px;
    background-color: $site-yellow;
    border-radius: 30px;
    position: absolute;

    z-index: 1;
    margin-left: 20px;
    margin-top: 16px;
  }
  .circle3 {
    width: 54px;
    height: 54px;
    background-color: $site-green;
    border-radius: 54px;
    position: absolute;

    z-index: 2;
    margin-left: 46px;
    margin-top: 0px;
  }
  .circle4 {
    width: 24px;
    height: 24px;
    background-color: $site-lite-pink;
    border-radius: 24px;
    position: absolute;

    z-index: 3;
    margin-left: 110px;
    margin-top: 20px;
  }
}
